{#
/**
 * @file req_course.html.twig
 * Default theme implementation to present Required Course Connector data.
 *
 * This template is used when viewing Required Course Connector pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_req_course()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('req_course') }}>
  {% if content %}
    <p>This <strong>Required Course Connector</strong> provides links between program and course information.</p>
    {{- content -}}
  {% endif %}
</div>
